* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  background: #1F2937;
  color: white;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.instructions {
  padding: 30px 200px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.star-grid {
  background-color: rgb(23, 84, 134);
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  position: relative;
}

.star {
  width: 30px;
  height: 30px;
  background: white;
  position: absolute;
}

.star.clicked {
  background: yellow;
}

.stars-clicked-counter {
  display: flex;
  margin: 50px auto;
}