* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  background: #1F2937;
  color: white;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.instructions {
  padding: 30px 200px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.star-grid {
  background-color: rgb(23, 84, 134);
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  position: relative;
  background-image: url('night_background.jpg');
  background-size: cover;
  background-position: center;
}

.star {
  width: 40px;
  height: 40px;
  font-size: 40px;
  position: absolute;
  cursor: pointer;
  /* background-image: url('unclicked_star.png');
  background-size: contain; */
}

/* .star.clicked {
  background-image: url('clicked_star.png');
} */

.stars-clicked-counter {
  display: flex;
  margin: 50px auto;
}